<h2 mat-dialog-title>Actualizar Cliente</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field class="crear-cliente-field">
        <input matInput placeholder="CC del Cliente" formControlName="cc">
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <input matInput placeholder="Nombres del Cliente" formControlName="nombres">
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <input matInput placeholder="Apellidos del Cliente" formControlName="apellidos">
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cliente-field">
        <input matInput placeholder="Direccion del Cliente" formControlName="direccion">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="cerrar()">Cerrar</button>
    <button class="mat-raised-button" (click)="guardar()">Guardar</button>
</mat-dialog-actions>