mat-card{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
}
.mat-form-field{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.new-form-btn{
    position: relative;
}
.mat-raised-button{
    background: teal;
    color: #fff
}